@model parcialdpwa.Models.Empleado

@{
    ViewBag.Title = "Details";
}

<script>
    $(document).ready(function(){
        $("#filterButton").click(function(event){
           event.preventDefault();
            window.location.href = "@Url.Action("probandop", "Details")" + "?startDate=" + $("#startDate").val() + "&endDate=" + $("#endDate").val();
        });
})
</script>

<h2>Details</h2>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clave)
        </dd>

    </dl>

    <h1>Discos vendidos por el empleado</h1>


    <label>
        Fechan inicio:
        <input type="date" name="startDate" value="" />
    </label>

    <label>
        Fechan fin:
        <input type="date" name="endDate" value="" />
    </label>

    <button id="filterButton">filtart</button>

    <table class="table table-hover table-bordered table-responsive">

        @foreach (var item in Model.listSelledDisks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>

            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
