@model parcialdpwa.Models.Cancion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cancion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Disco.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disco.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tiempo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tiempo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cancion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cancion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
