@model IEnumerable<parcialdpwa.Models.DetallePedido>

@{
    ViewBag.Title = $"Detalles del pedido con Id: {ViewBag.idPedido}";
}

<h2>Detalles del pedido con Id: @Html.Raw(ViewBag.idPedido)</h2>

<p>
    @Html.ActionLink("Create New", "Create",routeValues:new {idPedido = ViewBag.idPedido})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Disco.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pedido.DireccionEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Disco.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pedido.DireccionEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioVenta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
