@model parcialdpwa.Models.Disco

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Disco</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artista.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artista.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Cat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Cat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Formato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ncanciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ncanciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
